[Unit]
Description=Bot Telegram fichaje USC
After=network-online.target

[Service]
Type=simple
Environment="BOT_PATH=/route/to/your/bot"
EnvironmentFile=%h/.env
WorkingDirectory=${BOT_PATH}
ExecStart=/usr/bin/python3 ${BOT_PATH}/bot.py
Restart=always
RestartSec=10
StandardOutput=append:${BOT_PATH}/fichaje.log
StandardError=append:${BOT_PATH}/fichaje.log

[Install]
WantedBy=multi-user.target
