[Unit]
Description=Bot Telegram fichaje USC
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/route/to/bot
ExecStart=/route/to/bot/.venv/bin/python3 /route/to/bot/bot.py
Restart=always
RestartSec=10
StandardOutput=append:/route/to/bot/fichaje.log
StandardError=append:/route/to/bot/fichaje.log

[Install]
WantedBy=multi-user.target
